<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="shortcut icon" href="#">
    <title>Buy order number {{ order.id }}</title>
</head>
<body>
    <h1>Order №{{ order.id }}</h1>
    <h2>List of items in order:</h2>
    {% for item in order.items.all %}
        <tr>
        <p>{{ item.name }}</p>
        <p>{{ item.description }}</p>
        <p>{{ item.price}} {{ item.currency }}</p>
        </tr>
    {% endfor %}
    {% if order.discount is not None %}
        <tr>
        <p>Discount name: {{ order.discount.name }}</p>
        <p>Amount discount: {{ order.discount.amount }} % </p>
        </tr>
    {% endif %}
    {% if order.tax is not None %}
        <tr>
        <p>Tax</p>
        <p>{{ order.tax.name }}</p>
        <p>{{ order.tax.percent }}%</p>
        </tr>
    {% endif %}
    <p>Total order price: {{ order.price }} {{ order.currency }}</p>
    <button id="buy-button">Buy</button>
    <script type="text/javascript">
      var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
          fetch("{% url 'order-buy' order.id %}", {method: 'GET'})
              .then(function (response) {
                  return response.json();
              })
              .then(function (session) {
                  return stripe.redirectToCheckout({sessionId: session.id});
              })
              .then(function (result) {
                  if (result.error) {
                      alert(result.error.message);
                  }
              });
      })
    </script>
 </body>
</html>